.questions {
    background-color: lightblue;
    height: 100vh;
    padding: 2rem;
}



h2 {
    text-align: center;
    font-family: Quicksand;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Quicksand;


    border-radius: 5px;
    background-size: 10px;
    justify-content: space-between;
    // border: 2px;


    background-position: right;
}

.title {
    background-color: rgb(7, 7, 8);
}

.lifeline-container {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: Quicksand;
}

.lifeline-icon {
    color: red;
    cursor: pointer;

}

.lifeline-icon:hover {
    cursor: pointer;
    color: darken(red, 10%);
}

.lightning-icon {
    // position: relative;
    text-align: left;
    color: rgb(255, 221, 29);

}

.lightning-icon:hover {
    cursor: pointer;
    color: darken(rgb(255, 221, 29), 10%);
}

.right {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 1.2rem;
}

.score {
    text-align: center;

    position: relative;

    top: -30px;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 1.2rem;


}

.timer-section {
    display: flex;
    flex-direction: column;

    .questionNumber {
        font-size: 17px;
    }

    .aligned-row {
        display: flex;
        justify-items: center;
    }


}


h5 {
    font-size: 20px;
    font-family: Quicksand;
    font-weight: bold;
    margin-bottom: $large;
    line-height: 1.5;
    text-align: center;
    height: 90px;
}

.row-container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 620px) {

    .lifeline-container,
    .lightning-container,
    .score {
        position: static;
    }
}

.options-container {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.option-container {
    display: flex;
    justify-content: center;
    display: inline-block;
    width: 50%;
    font-size: 20px;
    margin: -0.5rem, auto;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    height: 80px;

}

.option-container button {
    background-color: darken(rgb(56, 56, 204), 10%);
    box-shadow: $shadow;
    transition: 0.1s linear all;
    height: 100%;


}

.option-container button:hover {
    background-color: darken(rgb(56, 56, 204), 20%);
}

.option {
    background-color: darken(rgb(56, 56, 204), 10%);
    border-radius: 10px;
    font-family: Quicksand;
    font-size: large;
    color: white;
    font-weight: bold;
    margin: $xs auto;
    cursor: pointer;
    padding: $small;
    text-align: center;
    width: 90%;
    display: flex;
    border: none !important;
}


.button-container {

    display: flex;
    justify-content: flex-start;
    position: relative;
    left: -20px;
    width: 70vw;
    margin-top: $small;
    // margin: 0 auto $auto;
    margin-left: 7%;


}

.button-container button {
    border: none;

    font-weight: bold;
    color: $off-white;
    cursor: pointer;
    font-family: Quicksand;
    margin-right: $medium;
    padding: 0.7rem;
    border-radius: 10px;


}

.button-container button:first-child {
    background-color: darken(rgb(56, 204, 120), 10%);
    box-shadow: $shadow;
    transition: 0.1s linear all
}

.button-container button:first-child:hover {
    background-color: darken(rgb(56, 204, 120), 20%);
}

.button-container button:nth-child(2) {
    background-color: darken(rgb(56, 204, 120), 10%);
    box-shadow: $shadow;
    transition: 0.1s linear all
}

.button-container button:nth-child(2):hover {
    background-color: darken(rgb(56, 204, 120), 20%);
}

.button-container button:nth-child(3) {
    background-color: darken(rgb(243, 67, 67), 10%);
    box-shadow: $shadow;
    transition: 0.1s linear all
}

.button-container button:nth-child(3):hover {
    background-color: darken(rgb(243, 67, 67), 20%);
}

.button-container .quit {
    box-shadow: $shadow;
    transition: 0.1s linear all
}

.indicators-container {
    display: flex;
    flex-direction: column;
}

.audio-switch {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
}