@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "./base/settings";
@import "./base/base";
@import "./components/home";
@import "./components/quiz-instructions";
@import "./components/play";

.Route {
    flex: 1 0 auto;
}

.footer {
    flex: 0 1 auto;
}

.main {
    display: flex;
    flex-direction: column;
}