* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Quicksand;
  font-weight: bold;
  overflow-x: hidden;
}

.toast-valid {
  background-color: green;
  border-radius: 5px;
  font-weight: bold;
  // top: auto !important;
  //right: auto !important;
  bottom: 100%;
  left: 0%;
}

.toast-invalid {
  background-color: red;
  border-radius: 5px;
  font-weight: bold;

  top: auto !important;
  right: auto !important;
  bottom: 5%;
  left: 100%;

}

#toast-container {
  top: auto !important;
  right: auto !important;
  //bottom: 78%;

  bottom: 45rem;
  left: 48rem;
}

p.final {
  font-size: 50px;

}

p.error {
  color: red;
  text-align: center;
}

button.return,
a.return {
  position: relative;
  top: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: Quicksand;
  padding: 0.7rem;
  border-radius: 10px;
  background: darken(rgb(56, 56, 204), 10%);
  color: white;
}