// colors
$orange: #ffa500;
$off-white: #f8f8f8;

//sizes
$xs: 0.5rem;
$normal: 1rem;
$small: 1.5rem;
$medium: 2rem;
$large: 3rem;
$xlarge: 5rem;
$xxlarge: 7rem;

//button radius
$button-radius: 30px;

//Breakpoints
$large-brakpoint: 1024px;
$medium-breakpoint: 768px;
$small-breakpoint: 641px;
$xsmall-breakpoint: 480px;

//shadow
$shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
  0 1px 5px 0 rgba(0, 0, 0, 0.2);
